@use '../utils/variables' as *;

.el-footer {
  background-color: $footer-bg-color;
  color: $text-color;
  text-align: center;
  font-size: 15px;
  line-height: 30px;
  height: 30px;
  position: absolute;
  bottom: 0;
  width: 100%;
}