/* 菜单项样式 */
.el-menu-item {
  font-size: 12px;
  color: var(--menu-text-color);
  transition: color 0.3s ease, background-color 0.3s ease; /* 添加悬停过渡 */
}

.el-menu-item:hover {
  color: var(--menu-active-text-color);
  background-color: var(--menu-background-color);
}
