/* 悬浮按钮样式 */
.float-button {
  position: fixed;
  bottom: 50px;
  left: 50px;
  z-index: 2000;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
  background-color: #ffffff;
  /* 浅色模式背景 */
  color: #333;
  border: none;
  /* 浅色模式文字颜色 */
}

.float-button:hover {
  transform: scale(1.1);
  /* 悬停时放大 */
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  /* 悬停时增加阴影 */
}

/* 深色模式样式 */
.float-button.dark-mode {
  background-color: #333;
  /* 深色模式背景 */
  color: #ffffff;
  /* 深色模式文字颜色 */
  box-shadow: 0 0px 12px rgba(255, 255, 255, 0.2);
  /* 深色模式阴影 */
}

.float-button.dark-mode:hover {
  box-shadow: 0 0 16px rgba(255, 255, 255, 0.3);
  /* 深色模式悬停阴影 */
}

/* 图标样式 */
.el-icon-sun {
  font-size: 20px;
  color: #f39c12;
  /* 浅色模式图标颜色 */
}

.el-icon-moon {
  font-size: 20px;
  color: #3498db;
  /* 深色模式图标颜色 */
}
